# gradle building files
.gradle

# some suggest to remain .idea and ignore /.idea/libraies , /.idea/workspace.xml
.idea

# directorys' display property file
.DS_Store

# auto generate files
/build

# local properties file
/local.properties

# others
*.ipr
*.iws
*.swp
*~
